@font-face {
  font-display: swap;
  font-family: 'Ubuntu Sans';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/ubuntu-sans-v4-200.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Ubuntu Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/ubuntu-sans-v4-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Ubuntu Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/ubuntu-sans-v4-600.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Ubuntu Sans';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/ubuntu-sans-v4-800.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/ubuntu-mono-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/ubuntu-mono-700.woff2') format('woff2');
}
